<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880620532251-1d0rj5p2mvuhnqhtdt05femo6phmuj1p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880620532251-1d0rj5p2mvuhnqhtdt05femo6phmuj1p</string>
	<key>API_KEY</key>
	<string>AIzaSyDEODLiYptxOrZZLMmqBWBoCHS1Afy3M_U</string>
	<key>GCM_SENDER_ID</key>
	<string>880620532251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bmkt.Bear-Market</string>
	<key>PROJECT_ID</key>
	<string>bear-market-26f5f</string>
	<key>STORAGE_BUCKET</key>
	<string>bear-market-26f5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880620532251:ios:81d9e85765d3767b467ebe</string>
</dict>
</plist>